.header{
    margin: 0 auto;
    width: 1920px;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/main_img.png);
    align-items: center;
}
.line{
    width: 150px;
    margin-left: 420px;
    border-top: solid 2px #5C8EE5 ;
}
.kons{
    
    width: 302px;
    height: 94px;
    background-color: #5C8EE5;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: white;
    border: none;
    margin: 0;
}
.contm{
        margin: 0 auto;
    width: 1080px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texttop{
        margin: 0 auto;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: 0%;
    color:#FFFFFF;
}
.textbot{
    margin: 0;
    width: 720px;
    height: 78px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color:#FFFFFF;
}
.rabbox{
    width: 288px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #EBEBF033;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-items: start;

}
.rabbox img{
    margin: 0;
    margin-left: 50px;
}
.fot1{
    display: flex;
}
.textfot{
    width: 188px;
    height: 62px;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0%;
}
.box1{
    width: 1920px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px #EBEBF033;
}
