.aboute{
    margin: 0 auto;
    width: 1920px;
    height:270px ;
    background-color: #F0F2F5;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.glaboute{
    margin: 0;
    width: 1920px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.aboutcount{
    width: 1720px;
    height: 270px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 200px;
}

.textblack{
    color: #292D33;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.countext {
    width: 315px;
    display: flex;
    height: 22px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
} 
.miexpert{
    width: 1920px;
    height: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} 
.expert{
    width: 1450px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.razopit{
    width: 840px;
    height: 378px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.textfot1{
    width: 188px;
    height: 62px;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #292D33;
}
.textfot{
    width: 188px;
    height: 62px;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0%;
}
.nashe{
    width: 1930px;
    height: 980px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.podnashe{
    width: 1440px;
    height: 750px;
    display: flex;
    justify-content: center;
}
.nash{
    width: 720px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0;
}
.listsilka{
    width: 670px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.lisi{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 310px;
    height: 30px;
    margin: 0;
}
.textsi{
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    margin: auto;
    color: #292D33;
}
.lika{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 310px;
    height: 30px;
    margin: 0;
}
.is{
    width: 1920px;
    height: 944px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.podis{
    width: 1440px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pod21{
    width: 1430px;
    height: 218px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.counIMG{
    width: 2910px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}